/**
 * List of animations keyframes for reuse
 */
@keyframes enter-from-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-to-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-#{rem-calc(40)});
  }
}

@keyframes fade-to-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(#{rem-calc(40)});
  }
}

@keyframes fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-#{rem-calc(40)});
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-from-right {
  from {
    opacity: 0;
    transform: translateX(#{rem-calc(40)});
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin tool-animate($name, $duration: .5s, $timing: ease-in-out, $delay: 0, $fill-mode: forwards) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: $fill-mode;
  animation-name: unquote($name);
  animation-timing-function: $timing;
}

$fades: (
  'fade-from-left',
  'fade-from-right',
  'fade-to-left',
  'fade-to-right'
);

@each $animation in $fades {
  &.-#{$animation} {
    @include tool-animate($animation);
  }
}
