/**
 * Include transition property to element to animate them
 * Also include "will-change" property for better performance
 */
@mixin tool-transition($property: all, $duration: .25s, $timing: ease-in-out) {
  transition: unquote($property) $duration $timing;

  @if($property != all) {
    will-change: unquote($property);
  }
}
