/**
 * Return a working media query based on given breakpoint alias
 */
@mixin tool-breakpoint($breakpoint, $rule: null) {
  @if($rule == 'only') {
    @if($breakpoint == 'mobile') {
      @media (min-width: #{breakpoint('mobile')}) and (max-width: (#{breakpoint('desktop')} - 1)) {
        @content;
      }
    }
    @if($breakpoint == 'desktop') {
      @media (min-width: #{breakpoint('desktop')}) {
        @content;
      }
    }
  }
  @else {
    @if($breakpoint == 'mobile') {
      @media (min-width: #{breakpoint('mobile')}) {
        @content;
      }
    }
    @if($breakpoint == 'desktop') {
      @media (min-width: #{breakpoint('desktop')}) {
        @content;
      }
    }
  }
}
