/**
 * Tweak to visually hide element, but keep it available for screen readers and web crawlers
 * Because accessibility M-A-T-T-E-R-S-!
 */
@mixin tool-visually-hidden() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.show-for-sr {
  @include tool-visually-hidden;
}
