/**
 * Neon buttons variations
 */
.button {
  border-radius: rem-calc(30);
  border: 0;
  box-shadow: 0;
  box-sizing: border-box;
  color: initial;
  cursor: pointer;
  display: inline-block;
  font-weight: tool-font-weight('bold');
  height: rem-calc(40);
  line-height: rem-calc(40);
  min-height: rem-calc(40);
  min-width: rem-calc(40);
  padding: rem-calc(5) 1ch;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include tool-transition;

  @include tool-breakpoint('desktop') {
    padding: 0 2ch;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: rem-calc(2) rem-calc(2) rem-calc(8) rem-calc(2) transparentize(tool-color('neutral'), .65);
    transform: translateY(-#{rem-calc(5)});
  }

  @each $identifier, $color in $colors {
    &.-#{$identifier} {
      @if(lightness($color) > 50) {
        color: darken($color, 20%);
        font-weight: tool-font-weight('semibold');
      }
      @else {
        color: tool-color('light');
      }
      background-color: tool-color($identifier);
    }
  }

  &.-large {
    padding: 0 6ch;
    min-height: rem-calc(50);
    height: rem-calc(50);
    line-height: rem-calc(50);
    letter-spacing: .25ch;
    font-weight: tool-font-weight('extrabold');
  }

  &.-gradient {
    color: tool-color('light');
    @include tool-gradient(tool-color('primary'), tool-color('secondary'));

    @each $identifier, $color in $colors {
      &.-#{$identifier} {
        @if(lightness($color) > 50) {
          color: darken($color, 20%);
          font-weight: tool-font-weight('semibold');
        }
        @else {
          color: tool-color('light');
        }
        @include tool-gradient($color);
      }
    }
  }

  &.-hollow {
    background: transparent;
    border: rem-calc(2) solid;

    @each $identifier, $color in $colors {
      &.-#{$identifier} {
        border-color: $color;
      }
    }
  }

  .icon {
    display: inline-block;
    width: rem-calc(20);
    height: rem-calc(20);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 1ch;

    &.-download {
      background-image: url('../img/icon-download-yellow.png');
      transform: translateY(rem-calc(3));
    }

    &.-arrow {
      background-image: url('../img/icon-arrow-gray.png');
      width: rem-calc(12);
      height: rem-calc(12);
      margin: rem-calc(12) rem-calc(10);
    }

    &.-arrow-carousel {
      width: rem-calc(25);
      height: rem-calc(25);
      margin: rem-calc(5) rem-calc(7) rem-calc(5) rem-calc(3);
      background-image: url('../img/icon-carousel-arrow-gray.png');
    }
  }
}
