/**
 * Animated title atom
 */
.title {
  color: tool-color('light');
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  top: rem-calc(160);
  width: 100%;
  font-weight: tool-font-weight('light');
  will-change: opacity, letter-spacing;
  @include tool-animate('tracking-in-expand', 1.25s, cubic-bezier(0.165, 0.840, 0.440, 1.000), 2s, both);

  @include tool-breakpoint('desktop') {
    font-size: tool-font-size('extra-highlight');
    top: rem-calc(120);
  }

  .-delayed {
    font-weight: tool-font-weight('bold');
    will-change: opacity;
    @include tool-animate('fade-in', 1.5s, cubic-bezier(0.165, 0.840, 0.440, 1.000), 4s, both);
  }
}
