/**
 * Default behavior for heading tags
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: tool-font-size('highlight');
}
h2 {
  font-size: tool-font-size('highlight');
}
h3 {
  font-size: tool-font-size('extra-large');
}
h4 {
  font-size: tool-font-size('large');
}
h5 {
  font-size: tool-font-size('regular');
}
h6 {
  font-size: tool-font-size('small');
}
