/**
 * Texts general resets
 */
@each $identifier, $weight in $font-weights {
  @font-face {
    font-family: 'Averta';
    font-weight: $weight;
    src: url("../fonts/averta-#{$identifier}-webfont?#iefix") format('embedded-opentype'), url("../fonts/averta-#{$identifier}-webfont.woff") format('woff'), url("../fonts/averta-#{$identifier}-webfont.ttf") format('truetype'), url("../fonts/averta-#{$identifier}-webfont.svg#averta") format('svg')
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Averta';
  font-weight: 400;
  line-height: 1.4;
}
