/**
 * Color pallete mapping
 */
$colors: (
  dark:      #000000,
  light:     #FFFFFF,
  neutral:   #9C9C9E,
  moderate:  #F1F2F3,
  primary:   #1276AF,
  secondary: #04E7AA,
  terciary:  #FFD008
);

@function tool-color($color) {
  @return map-get($colors, $color);
}
