/**
 * Font sizes mapping
 */
$font-sizes: (
  tiny: 9,
  small: 12,
  medium: 14,
  regular: 16,
  large: 20,
  extra-large: 24,
  highlight: 36,
  extra-highlight: 48
);

@function tool-font-size($size) {
  @return rem-calc(map-get($font-sizes, $size));
}

/**
 * Font weights mapping
 */
$font-weights: (
  light: 300,
  regular: 400,
  semibold: 500,
  bold: 600,
  extrabold: 700
);

@function tool-font-weight($weight) {
  @return map-get($font-weights, $weight);
}
