/**
 * Main footer component
 */
.molecule-footer {
  $footer-color: darken(tool-color('primary'), 15%);

  background-color: tool-color('primary');
  color: $footer-color;
  border-top: rem-calc(2) solid $footer-color;
  padding: rem-calc(10) 0;
  margin-top: rem-calc(40);
  overflow: hidden;

  @include tool-breakpoint('mobile', 'only') {
    text-align: center;
    justify-content: center;
  }

  a[href*=tel] {
    color: tool-color('light');
    text-decoration: none;
    position: relative;

    &:after {
      border-bottom: rem-calc(3) solid tool-color('light');
      content: '';
      width: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      @include tool-transition('width');
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: tool-font-weight('semibold');
    font-size: tool-font-size('regular');

    a {
      font-size: tool-font-size('extra-large');

      @include tool-breakpoint('desktop') {
        font-size: tool-font-size('highlight');
      }
    }
  }

  p,
  address {
    margin: 0;
    font-style: normal;
    font-size: tool-font-size('medium');
  }

  @at-root
  .molecule-footer__social {
    display: flex;

    @include tool-breakpoint('mobile', 'only') {
      border-bottom: rem-calc(1.2) solid transparentize($footer-color, .8);
      border-top: rem-calc(1.2) solid transparentize($footer-color, .8);
      justify-content: center;
      margin: rem-calc(20) 0;
      padding: rem-calc(10) 0;
      transform: translateX(-#{rem-calc(10)});
      width: 100vw;
    }

    li {
      &:not(:last-child) {
        margin-right: rem-calc(10);
      }

      img {
        @include tool-transition('transform', .15s);

        &:hover {
          transform: translateY(-#{rem-calc(5)});
        }
      }
    }
  }
}
