.molecule-header {
  background-color: tool-color('light');
  box-shadow: 0 0 rem-calc(10) rem-calc(5) transparentize(tool-color('dark'), .85);
  min-height: rem-calc(80);
  min-width: 100%;
  position: fixed;
  will-change: transform;
  z-index: 5;
  @include tool-animate('enter-from-top', .75s, ease-in-out);

  .button.-hollow {
    padding: 0;
  }

  .icon.-download {
    @include tool-breakpoint('mobile', 'only') {
      margin: 0;
      transform: translateY(-#{rem-calc(2)});
    }
  }

  @at-root
  .molecule-header__logo {
    img {
      @include tool-breakpoint('desktop') {
        transform: translateX(40%);
      }
    }
  }
}
