/**
 * Carousel component
 */
.molecule-carousel {
  position: relative;

  @at-root
  .molecule-carousel__previous,
  .molecule-carousel__next {
    height: rem-calc(60);
    padding: rem-calc(10);
    position: absolute;
    text-align: center;
    top: 50%;
    width: rem-calc(60);
    z-index: 2;
    @include tool-transition;

    &.-hollow.-moderate {
      &:hover,
      &:active,
      &:focus {
        background: tool-color('primary');
        border-color: tool-color('primary');
      }
    }

    .icon {
      height: rem-calc(30);
      margin: 0;
      width: rem-calc(30);
    }
  }

  @at-root
  .molecule-carousel__previous {
    left: 0;
    transform: translate(-100%, -50%);

    @include tool-breakpoint('desktop') {
      transform: translate(-150%, -50%);
    }

    &:hover,
    &:active,
    &:focus {
      transform: translate(-100%, calc(-50% - #{rem-calc(5)}));

      @include tool-breakpoint('desktop') {
        transform: translate(-150%, calc(-50% - #{rem-calc(5)}));
      }
    }
  }

  @at-root
  .molecule-carousel__next {
    right: 0;
    transform: translate(100%, -50%);

    @include tool-breakpoint('desktop') {
      transform: translate(150%, -50%);
    }

    &:hover,
    &:active,
    &:focus {
      transform: translate(100%, calc(-50% - #{rem-calc(5)}));

      @include tool-breakpoint('desktop') {
        transform: translate(150%, calc(-50% - #{rem-calc(5)}));
      }
    }

    .icon {
      transform: translateX(rem-calc(3)) rotate(180deg);
    }
  }

  @at-root
  .molecule-carousel__slides {
    position: relative;
    margin: rem-calc(40) 0;
  }

  @at-root
  .molecule-carousel__slides__card {
    $gutter: rem-calc(20);

    border-radius: rem-calc(50);
    box-shadow: rem-calc(2) rem-calc(5) rem-calc(10) rem-calc(6) transparentize(tool-color('neutral'), .65);
    box-sizing: border-box;
    margin: 0 $gutter;
    max-width: rem-calc(400);
    padding: rem-calc(40) rem-calc(30);
    text-align: center;
    width: 70vw;
    background-color: tool-color('light');
    @include tool-transition;

    @include tool-breakpoint('desktop') {
      box-shadow: rem-calc(3) rem-calc(10) rem-calc(18) rem-calc(10) transparentize(tool-color('neutral'), .65);
      max-width: rem-calc(850);
      padding: rem-calc(80);
    }

    &.-state-inactive {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
    }

    img {
      max-width: rem-calc(120);
    }

    .card-title {
      border-bottom: rem-calc(1) solid tool-color('neutral');
      color: tool-color('primary');
      font-size: tool-font-size('large');
      letter-spacing: .25ch;
      margin-bottom: $gutter;
      padding-bottom: $gutter;
      text-transform: uppercase;
    }

    p {
      color: darken(tool-color('neutral'), 20%);
      font-size: tool-font-size('large');
      margin-bottom: $gutter;

      @include tool-breakpoint('desktop') {
        padding: 0 rem-calc(40);
      }
    }
  }
}
