/**
 * Flexbox nano grid system
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  margin: 0 auto;
  min-height: inherit;
  min-width: 100%;

  @include tool-breakpoint('desktop') {
    min-width: auto;
    max-width: breakpoint('desktop');
  }

  &.-middle {
    align-items: center;
  }

  &.-justify {
    justify-content: space-between;
  }

  &.-center {
    justify-content: center;
  }
}

.column {
  max-width: 100%;
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);

  @include tool-breakpoint('desktop') {
    padding-left: rem-calc(8);
    padding-right: rem-calc(8);
  }

  &.-shrink {
    flex: 0 0 auto;
  }

  &.-expand {
    flex: 1 1 100%;
  }

  &.-large-shrink {
    @include tool-breakpoint('desktop') {
      flex: 0 0 auto;
    }
  }

  @for $i from 1 through 8 {
    &.-large-order-#{$i} {
      @include tool-breakpoint('desktop') {
        order: $i;
      }
    }
  }
}
